/*
.box-header{
  height: 82px;
  .menu {
    .column {
      width:50%;
      .item {
        font-family: 'SimHei';
        float: left;
        font-size: 17px;
        &.logo {
          margin-left: 100px;
          width: 100px;
        }
      }
    }
  }
}*/
.box-header{
  .icon{
    color:#ffffff;
  }
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  height: 50px;
  background-color: #000000;
  // background: -webkit-linear-gradient(left, #FFBF00,#EE882B);
  .part{
    display: flex;
    flex:1;
    align-items:center;
    a{
      color:#ffffff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .part-left{
    .logo{
      margin-top:5px;
      width: 140px;
      height:140*(673/237)px;
    }
    .title{
      margin-left: 30px;
      font-family: sans-serif;
      display: flex;
      align-items:center;
      font-size: 21px;
      color:#ffffff;
    }
  }
  .part-right{
    justify-content: flex-end;
    .title{
      font-family: sans-serif;
      display: flex;
      align-items:center;
      font-size: 21px;
      color:#ffffff;
    }
    /*.search-input{
      outline: none;
      margin-right: 10px;
      margin-top: 4px;
      width: 300px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid #ffffff;
    }*/
   /* .icon{
      margin-right: 30px;
    }*/
    .user{
      display: flex;
      align-items:center;
    }
  }
}