/*
.box-header{
  height: 82px;
  .menu {
    .column {
      width:50%;
      .item {
        font-family: 'SimHei';
        float: left;
        font-size: 17px;
        &.logo {
          margin-left: 100px;
          width: 100px;
        }
      }
    }
  }
}*/
.box-header {
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  height: 50px;
  background-color: #000000; }
  .box-header .icon {
    color: #ffffff; }
  .box-header .part {
    display: flex;
    flex: 1;
    align-items: center; }
    .box-header .part a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer; }
  .box-header .part-left .logo {
    margin-top: 5px;
    width: 140px;
    height: 397.55274 px; }
  .box-header .part-left .title {
    margin-left: 30px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #ffffff; }
  .box-header .part-right {
    justify-content: flex-end;
    /*.search-input{
      outline: none;
      margin-right: 10px;
      margin-top: 4px;
      width: 300px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid #ffffff;
    }*/
    /* .icon{
       margin-right: 30px;
     }*/ }
    .box-header .part-right .title {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      font-size: 21px;
      color: #ffffff; }
    .box-header .part-right .user {
      display: flex;
      align-items: center; }

/*# sourceMappingURL=head.css.map */
