.container .h-content a {
  text-decoration: none;
  cursor: pointer; }
.container .h-content .h-ul {
  top: 100px;
  position: absolute;
  margin-left: 130px;
  height: 24px;
  padding-left: 50px; }
  .container .h-content .h-ul li {
    margin-left: 20px;
    font-size: 17px;
    float: left; }
.container .h-content .singleMenu {
  width: 300px !important;
  text-align: center; }
.container .h-content .pusher .saysay {
  margin-left: 50px; }
.container .h-content .pusher .all-article {
  font-size: 17px;
  height: 43px;
  margin-top: 30px; }
.container .h-content .pusher .r-say {
  margin-top: 20px;
  margin-left: 30px; }
  .container .h-content .pusher .r-say .card-head {
    width: 200px;
    height: 300px; }
  .container .h-content .pusher .r-say .card-content {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin-left: 50px;
    width: 700px; }
    .container .h-content .pusher .r-say .card-content p {
      margin-top: 10px;
      text-indent: 20px;
      font-size: 15px;
      padding-left: 20px;
      padding-right: 20px; }
    .container .h-content .pusher .r-say .card-content ul {
      margin-top: 20px;
      padding-left: 40px; }
      .container .h-content .pusher .r-say .card-content ul li {
        cursor: pointer;
        float: left;
        margin-left: 10px;
        width: 100px; }
    .container .h-content .pusher .r-say .card-content .user-comments {
      padding-left: 50px; }
      .container .h-content .pusher .r-say .card-content .user-comments .field {
        margin-top: 20px; }
        .container .h-content .pusher .r-say .card-content .user-comments .field textarea {
          width: 100%; }

/*# sourceMappingURL=Home.css.map */
