.container{
.h-content{

  a{
    text-decoration: none;
    cursor: pointer;
  }
  .h-ul{
    top: 100px;
    position: absolute;
    margin-left: 130px;
    height: 24px;
    padding-left: 50px;
    li{
      margin-left: 20px;
      font-size: 17px;
      float: left;
    }
  }
  .singleMenu{
    width: 300px !important;
    text-align: center;
  }
  .pusher{
    .saysay{
      margin-left: 50px;
    }
    .all-article{
      font-size: 17px;
      height: 43px;
      margin-top: 30px;
    }
    .r-say{
      margin-top: 20px;
      margin-left: 30px;
      .card-head {
      width: 200px;
        height: 300px;
      }
      .card-content{
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        margin-left: 50px;
        width: 700px;
        p{
          margin-top: 10px;
          text-indent: 20px;
          font-size: 15px;
          padding-left: 20px;
          padding-right: 20px;
        }
        ul{
          margin-top: 20px;
          padding-left: 40px;
           li{
             cursor: pointer;
             float: left;
             margin-left: 10px;
             width: 100px;
           }
        }
        .user-comments{
          padding-left: 50px;
          .field{
            margin-top: 20px;
            textarea{
              width:100%;
            }
          }
        }
      }
    }
  }
}
}