.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assert/image/banner/banner-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*  .login-foot{
      margin: 100px auto;
      position: relative;
      width: 700px;
      background-color: #0b97c4;
    }*/ }
  .login-container .bg-logo {
    top: 200px;
    left: 200px;
    position: absolute;
    width: 335px;
    height: 125px;
    background-image: url("../../assert/image/logo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .login-container .login-content {
    position: relative;
    z-index: 1;
    width: 310px;
    left: 60%;
    top: 100px;
    /*.forms{
      margin: 10px auto;
      width: 300px;
      a{
        text-decoration: none;
      }
    }
    .third-login{
      height: 256px;
      img{
        transition: 1s;
        margin-top: 40px;
        &:hover{
          &{
            margin-left: -100px;
          }
          &+div{
            filter:alpha(opacity=100);
            opacity: 1;
            top: 100px;
          }
        }
      }
      div{
        transition: 1s;
        filter:alpha(opacity=0);
        opacity: 0;
        position: absolute;
        font-size: 20px;
        width: 20px;
        height: 60px;
        left: 55%;
        top:150px;
      }
      ul{
        position: relative;
        height: 26px;
        bottom: -60px;
        li{
          width: 20%;
          float:left;
          &:hover{
            span {
              top: -20px;
            }
          }
          span{
            cursor: pointer;
            transition: 1s;
            font-size: 25px;
          }
        }
      }
    }*/ }

/*# sourceMappingURL=login.css.map */
